$primary-color: #444;
$secondary-color: #4f651c;
$resume-color: #ffffff;
$portfolio-text: $resume-color;
$show-home-image: true;
$home-image: url(../images/background.jpg);
$home-color-image: url(../images/backgroundColor.png);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin whiteBox {
  background-color: lighten($primary-color, 0.1);
  box-shadow: 0px 0px 15px 0px $primary-color;
}


@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-size: cover;


      &:after {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

//Set Text Color
@function set-text-color($color){
  @if(lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin mediaResume{
  @media screen and (max-width: 1100px){
    @content;
  }
}

@mixin mediaSm {
  @media screen and (max-width: 500px){
    @content;
  }

}
@mixin mediaMd {
  @media screen and (max-width: 768px){
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px){
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px){
    @content;
  }
}

@media print{
  * { background: transparent !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  //a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  //@page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

  @page {
    size: A4;
    //margin: 0cm;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -50px;

    margin-bottom: -50px;

  }
  html, body {
    height:297mm;
    width:210mm;
  }
  .container {
    width: auto;
  }
  body {
    //margin: -50px,0,0,0 auto;
  }
  header {
    display: none;
  }

}
