//Menu Button
.menu-btn {
  visibility: hidden;
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut;
  }


  .btn-lineResume{
    @extend .btn-line;
    background-color: rgba((lighten($secondary-color, 25)), 0.5);
  }

    //Rotate into X with menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
            //Line 1 = Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

            //Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

            //Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(135deg) translate(-6px, 6px);
      }
    }
  }

}

.menu-btnResume{
  @extend .menu-btn;
  top: 0;
  //right: 5px;
}


//Menu Overlay
.menu {
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  //top: 0;
  //width: 100%;
  opacity: 0.9;
  ////visibility: hidden;
  //height: 50px;
  background-color: $primary-color;


  .logo{
    color: $secondary-color;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }

  &-nav {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
  }
  //&-nav {
  //  transform: translate3d(0,-100%, 0);
  //  @include easeOut;
  //
  //  &.show {
  //    transform: translate3d(0, 0, 0);
  //  }
  //}

  .nav-item {
    //transform: translate3d(600px,0,0);
    //@include easeOut;
    //
    //&.show {
    //        //Slide in from right
    //  transform: translate3d(0px,0px,0px);
    //}

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    font-size: 15px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: bold;
    color: set-text-color($primary-color);
    text-decoration: none;
    letter-spacing: 3px;

    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

//Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}


@media screen and (max-width: 1024px){
  .menu-nav{
    width: 60%;
  }
}

@media screen and (max-width:768px){
  .menu-btn {
    visibility: visible;
  }


  .menu-nav{
    position: fixed;
    right: 0px;
    height: 92vh;
    background: darken($primary-color, 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
      @include easeOut;

    &.show {
      visibility: visible;
          transform: translate3d(0, 0, 0);
        }
    //transform: translateX(100%);

  }

  .nav-item{
    transform: translate3d(600px,0,0);
    @include easeOut;

    &.show {
            //Slide in from right
      transform: translate3d(0px,0px,0px);
    }
  }
}
