//Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

  .resume-page {
    .link-item {
      justify-content: space-evenly;
    }
  }

  body#bg-img {
    background-attachment: fixed;
  }

  .resume {
    display: flex;

    #nav {
      position: absolute;
      left: 5%;
    }

    #nav.goRight {
      left: 19.5rem;
    }

    .arrow::before {
      content: "\f054";
    }
  }
}

//Desktops & Laptops
@include mediaLg {

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .resume-page {
    .link-item {
      justify-content: space-evenly;
    }
  }

  body#bg-img {
    background-attachment: fixed;
  }


  .resume {
    display: flex;

    #nav {
      position: absolute;
      left: 5%;
    }


    #nav.goRight {
      left: 19.5rem;
    }

    .arrow::before {
      content: "\f054";
    }
  }
}

//Tablets & Small Laptops
  @include mediaMd {
  h1,
  h2,
  h3 {
    &.lg-heading {
      font-size: 2.5rem;
    }
  }

  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  body#bg-img {
    background-attachment: scroll;
  }


  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../images/portrait150.png');
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .resume {
    #nav.goRight {
      padding-top: 1rem;
    }

    .arrow::before {
      content: "\f078";
    }
  }

  section {
    grid-template-columns: 1fr;
  }


  //Resume
  .resume-page {
    img.avatar {
      align-content: center;
    }

    .links {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: -7px;
    }

    .links ul:last-child{
      margin-top: -15px;
      margin-bottom: 30px;
    }

    .links, .job-title-container {
      flex-direction: column;
    }

    .skills-container {
      grid-template-columns: 1fr 1fr;
    }

    .other-skills-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .interests-container {
      grid-template-columns: 1fr 1fr;
    }

    .interests-container img {
      margin-right: 32px;
      margin-bottom: 16px;
    }
  }


  .portfolio {
    margin-top: -20px;

    &__item {
      padding: 30px;
      flex-direction: column;
    }

    &__title {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 28px;
        margin: 0 0 15px 0;
        text-align: center;
      }
    }

    &__icons {
      li {
        margin: 0 5px;
      }
    }

    &__thumbnail {
      order: 1;
      flex: 0 1 auto;
      margin: 0 0 30px 0;

      img {
        height: auto;
        max-width: 100%;
        display: initial;
      }
    }

    &__content {
      order: 2;
      padding: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      p {
        text-align: center;
      }
    }
  }

    .contactItems {
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      justify-content: space-between;
    }
}

//Smartphones
@include mediaSm {
  h1,
  h2,
  h3 {
    &.lg-heading {
      font-size: 2.5rem;
    }
  }

  #main > section > .container {
    padding: 6em 1rem 15em 1rem;
  }

  main {
    //padding: 2rem;

    #home h1 {
      margin-top: 10vh;
    }
  }

  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    font-size: 24px;
  }

  .menu-branding {
    min-height: 20vh;
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../images/portrait150.png');
      width: 150px;
      height: 150px;
    }
  }

  body#bg-img {
    background-attachment: scroll;
  }


  .projects {
    grid-template-columns: 1fr;
  }

  .resume {

    .button-title{
      display: table-row;
    }

    #nav.goRight {
      //padding: 1rem;
      padding-top: 1rem;
    }

    .arrow::before {
      content: "\f078";
    }
  }



  //Resume
  .resume-page {
    img.avatar {
      align-content: center;
    }

    .links {
      display: grid;
      grid-template-columns: 1fr;
    }

    .links ul:last-child{
      margin-top: -15px;
    }

    .links, .job-title-container {
      flex-direction: column;
    }

    .skills-container {
      grid-template-columns: 1fr 1fr;
    }

    .interests-container {
      grid-template-columns: 1fr 1fr;
    }

    .interests-container img {
      margin-right: 32px;
      margin-bottom: 16px;
    }
  }

  .portfolio {
    &__buttons {
      display: flex;
      flex-direction: column;

      a {
        margin: 0 0 10px 0;
      }
    }
  }



  .boxes {
    //max-width: 250px !important;


    a {
      min-width: 150px;
      font-size: 1rem;
      padding: 10px 5px 0 5px;
      text-align: center;


      .text-secondary {
        padding-top: 0;
        padding-bottom: 10px;
        text-align: center;
        display: block;
      }

    }
  }

  #social-footer {
    font-size: 12px;
  }
}

@include mediaResume {
  .menu-btnResume {
    right: 5px;
  }

  .resume-page {
    .container {
      margin-right: 40px;
    }

    .section-title {
        display: inline-block;
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: -1px;
      text-align: left;
      top: 50px;
      font-family: monospace;

    }

    .menu-printButton {
      right: 0px;
    }

    .menu-downloadButton{
      right: 0px;
    }
  }
}
