//Widescreens
@include mediaXl{
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }

  .resume-page {
    .link-item {
      justify-content: space-evenly;
    }
  }


    body#bg-img {
      background-attachment: fixed;
    }

  .resume {
    display:flex;
    #nav {
      position: absolute;
      left: 5%;
    }
    #nav.goRight {
      left: 18.5rem;
    }
    .arrow::before {
      content: "\f054";
    }
  }
}

//Desktops & Laptops
@include mediaLg{
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .resume-page {
    .link-item {
      justify-content: space-evenly;
    }
  }

    body#bg-img {
      background-attachment: fixed;
    }


  .resume {
    display:flex;
    #nav {
      position: absolute;
      left: 5%;
    }


    #nav.goRight {
      left: 18.5rem;
    }

    .arrow::before {
      content: "\f054";
    }
  }
}

//Tablets & Small Laptops
@include mediaMd{
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

      body#bg-img {
        background-attachment: scroll;
      }


  ul.menu-nav,div.menu-branding{
    float: none;
    width: 100%;
    min-height:0;

    &.show {
      transform: translate3d(0,0,0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%,0,0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%,0,0);

    .portrait{
      background: url('../images/portrait150.png');
      width: 150px;
      height:150px;
    }
  }

  .about-info {
    grid-template-areas:
    'bioimage'
    'bio'
    'job1'
    'job2'
    'job3';

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .resume {
    #nav.goRight {
      padding: 1rem;
    }
    .arrow::before {
      content: "\f078";
    }
  }

  section {
    grid-template-columns: 1fr;
  }


  //Resume
  .resume-page {
    img.avatar {
      align-content: center;
    }

    .links, .job-title-container {
      flex-direction: column;
    }

    .skills-container {
      grid-template-columns: 1fr 1fr;
    }

    .interests-container {
      grid-template-columns: 1fr 1fr;
      //flex-wrap: wrap;
      //justify-content: flex-start;
    }

    .interests-container img {
      margin-right: 32px;
      margin-bottom: 16px;
    }
  }

}

//Smartphones
@include mediaSm{
  main {
    padding: 2rem;
    #home h1{
    margin-top: 10vh;
  }

    .lg-heading{
    margin-top:1rem;
    font-size: 5rem;
    }
  }

    body#bg-img {
      background-attachment: scroll;
    }


  .projects {
    grid-template-columns: 1fr;
  }

  .resume {
    #nav.goRight {
      padding: 1rem;
    }
    .arrow::before {
      content: "\f078";
    }
  }

  //Resume
  .resume-page {
    img.avatar {
      align-content: center;
    }

    .links, .job-title-container {
      flex-direction: column;
    }

    .skills-container {
      grid-template-columns: 1fr 1fr;
    }

    .interests-container {
      grid-template-columns: 1fr 1fr;
      //flex-wrap: wrap;
      //justify-content: flex-start;
    }

    .interests-container img {
      margin-right: 32px;
      margin-bottom: 16px;
    }
  }


}

//@mixin vh-fix {
//  @media (max-device-aspect-ratio: 3/4) {
//    height: calc(100vw * 1.333 - 9%);
//  }
//  @media (max-device-aspect-ratio: 2/3) {
//    height: calc(100vw * 1.5 - 9%);
//  }
//  @media (max-device-aspect-ratio: 10/16) {
//    height: calc(100vw * 1.6 - 9%);
//  }
//  @media (max-device-aspect-ratio: 9/16) {
//    height: calc(100vw * 1.778 - 9%);
//  }
//}
