/*Menu Button*/
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  /*  Rotate into X with menu lines*/ }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line {
      /*      Line 1 = Rotate*/
      /*      Line 2 - Hide*/
      /*      Line 3 - Rotate*/ }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(135deg) translate(-6px, 6px); }

/*Menu Overlay*/
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  /*  Branding side*/ }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      /*      Slide in from top*/
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      /*      Slide in from bottom*/
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../images/portrait.jpg");
      border-radius: 50px;
      border: solid 3px #4f651c; }

* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  /*  Headings*/ }
  body#bg-img {
    background: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.9); }
  body h1,
  body h2,
  body h3 {
    margin: 0;
    font-weight: 400; }
    body h1.lg-heading,
    body h2.lg-heading,
    body h3.lg-heading {
      font-size: 6rem; }
    body h1.sm-heading,
    body h2.sm-heading,
    body h3.sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      background: rgba(73, 73, 73, 0.5); }
  body a {
    color: #fff;
    text-decoration: none; }
  body header {
    position: fixed;
    z-index: 2;
    width: 100%; }
  body .text-secondary {
    color: #4f651c; }
  body main {
    padding: 4rem;
    height: 100%; }
    body main .button {
      margin-top: 1rem;
      color: #444;
      background-color: white;
      font-size: 1.2rem;
      border-radius: 2px;
      transition-duration: 0.4s; }
      body main .button a {
        padding: 0.4rem; }
    body main .button:hover {
      background-color: #4f651c;
      color: #ffffff; }
    body main .icons {
      margin-top: 1rem; }
      body main .icons a {
        padding: 0.4rem; }
        body main .icons a:hover {
          color: #4f651c;
          transition: all 0.5s ease-out; }
    body main#home {
      overflow: hidden; }
      body main#home h1 {
        margin-top: 20vh; }
