* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  /*  Headings*/ }
  body#bg-img {
    background: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img .overlay {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%; }
  body h1,
  body h2,
  body h3 {
    margin: 0;
    font-weight: 400; }
    body h1.lg-heading,
    body h2.lg-heading,
    body h3.lg-heading {
      font-size: 6rem; }
    body h1.sm-heading,
    body h2.sm-heading,
    body h3.sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      background: rgba(73, 73, 73, 0.5); }
  body a {
    color: #fff;
    text-decoration: none; }
  body header {
    position: fixed;
    z-index: 2;
    width: 100%; }
  body .text-secondary {
    color: #4f651c; }
  body main {
    padding: 4rem;
    height: 100%; }
    body main .button {
      margin-top: 1rem;
      color: #444;
      background-color: white;
      font-size: 1.2rem;
      border-radius: 2px;
      transition-duration: 0.4s; }
      body main .button a {
        padding: 0.4rem; }
    body main .button:hover {
      background-color: #4f651c;
      color: #ffffff; }
    body main .icons {
      margin-top: 1rem; }
      body main .icons a {
        padding: 0.4rem; }
        body main .icons a:hover {
          color: #4f651c;
          transition: all 0.5s ease-out; }
    body main#home {
      overflow: hidden; }
      body main#home h1 {
        margin-top: 20vh; }
